* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--main);
  height: 100vh;
  color: var(--White);
}

:root {

  /* Primary */

  --intro: hsl(217, 28%, 15%);
  --main: hsl(218, 28%, 13%);
  --footer: hsl(216, 53%, 9%);
  --testimonials: hsl(219, 30%, 18%);

  /* Accent */

  --Cyan: #64e1d9;
  --Blue: hsl(198, 61%, 50%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

a {
  color: rgb(0, 225, 255);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
}

.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 40px;
  padding: 3em;
}

.section1 nav {
  align-self: end;
  justify-self: end;
}

.section1 nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li a {
  text-decoration: none;
  color: var(--White);
}

.section2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 100px;
}

.section2 a.button {
  margin-top: 30px;
}

.section2 img {
  align-self: center;
  justify-self: center;
}

a.button {
  background: rgb(50, 158, 204);
  background: linear-gradient(288deg, rgba(50, 158, 204, 1) 46%, rgba(100, 225, 217, 1) 100%);
  border: none;
  color: var(--Dark-Cyan);
  font-weight: 700;
  padding: 10px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.068);
}

.section2-text {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.section3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 150px;
  background-image: url(/images/bg-curvy-desktop.svg);
}

.row1-left {
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 3em;
}

.row1-right {
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 3em;
}

.row2-left {
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 3em;
}

.row2-right {
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 3em;
}

.section4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  padding: 3em;
}

.section4-left {
  align-self: center;
  justify-self: center;
}

.section4-right {
  align-self: center;
  justify-self: center;
  padding: 3em;
}

/* Testimonials */

.section5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  margin-top: -15px;
}

.profile {
  border-radius: 50%;
  width: 40px;
}

.section5-col-1 {
  background-color: var(--testimonials);
  padding: 2rem;
  margin-left: 10px;
}

.section5-col-2 {
  background-color: var(--testimonials);
  padding: 2rem;
}

.section5-col-3 {
  background-color: var(--testimonials);
  padding: 2rem;
}

.section6 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.call-to-action {
  max-width: 700px;
  text-align: center;
  background-color: hsl(217, 28%, 15%);
  padding: 3em;
  line-height: 1.5rem;
}

form {
  display: flex;
  justify-content: center;
}

form>input {
  background: var(--White);
  border: none;
  color: var(--Dark-Cyan);
  font-weight: 700;
  padding: 10px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.068);
}


footer {
  margin-top: -100px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "logo logo logo logo logo"
    "col-1 col-2 col-3 col-4 col-5";
  background-color: var(--footer);
  padding: 150px;
  line-height: 2em;
}

.footer-logo {
  grid-area: logo;
}

.footer-col-1 {
  grid-area: col-1;
}

.footer-col-2 {
  justify-self: center;
  grid-area: col-2;
}

.footer-col-3 {
  justify-self: center;
  grid-area: col-3;
}

.footer-col-4 {
  justify-self: center;
  grid-area: col-4;
}

.footer-col-5 {
  justify-self: center;
  grid-area: col-5;
}