* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--Dark-Blue);
  height: 100vh;
  color: var(--White);
}

:root {

  /* Primary */

  --Dark-Blue: hsl(217, 28%, 15%);
  --Dark-Blue: hsl(218, 28%, 13%);
  --Dark-Blue: hsl(216, 53%, 9%);
  --Dark-Blue: hsl(219, 30%, 18%);

  /* Accent */

  --Cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

a {
  color: rgb(0, 225, 255);
}

.wrapper {
  margin: 0 auto;
}

.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 40px;
}

.section1 nav {
  align-self: end;
  justify-self: end;
}

.section1 nav li {
  display: inline-block;
  margin-right: 20px;
}

.section2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 100px;
}

.section2 img {
  align-self: center;
  justify-self: center;
}

.section2-text {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.section3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 150px;
}

.row1-left {
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 3em;
}

.row1-right {
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 3em;
}